# Django settings
SECRET_KEY=+jhx43vt-actwa^pwn9(y#tk)!6!xgoso#rzvps(r79^gu_8re
ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com

# Third-party API keys
NREL_API_KEY=your-nrel-api-key-here
NOMINATIM_URL=https://nominatim.openstreetmap.org
