# Django settings
SECRET_KEY="your-secret-key"
ALLOWED_HOSTS="127.0.0.1,localhost,testserver"

# Application level variables
APP_LOG_LEVEL=INFO
APP_USER_AGENT="solar-resource-explorer-v1.0"


# Third-party API keys and URLs
GEOCODING_SERVICE_URL="https://nominatim.openstreetmap.org/search"

NREL_API_KEY="your-nrel-api-key"
NREL_SOLAR_RESOURCE_API_URL="https://developer.nlr.gov/api/solar/solar_resource/v1"
NREL_PVWATTS_URL="https://developer.nrel.gov/api/pvwatts/v8"